//Ðý×ª
@-webkit-keyframes rotating{from{-webkit-transform:rotate(0deg)}to{-webkit-transform:rotate(360deg)}}
@keyframes rotating{from{transform:rotate(0deg)}to{transform:rotate(360deg)}}
@-moz-keyframes rotating{from{-moz-transform:rotate(0deg)}to{-moz-transform:rotate(360deg)}}

//
@keyframes twinkling{
  from{
    opacity:0;
  }
  100%{
    opacity:1;
  }
}
@-webkit-keyframes twinkling{
  from{
    opacity:0;
  }
  100%{
    opacity:1;
  }
}
//bounceIn
@-webkit-keyframes bounceIn{
  from{opacity:0;-webkit-transform:scale(.3);transform:scale(.3)}
  50%{opacity:1;-webkit-transform:scale(1.05);transform:scale(1.05)}
  70%{-webkit-transform:scale(.9);transform:scale(.9)}
  100%{opacity:1;-webkit-transform:scale(1);transform:scale(1)}
}
@keyframes bounceIn{
  from{opacity:0;-webkit-transform:scale(.3);-ms-transform:scale(.3);transform:scale(.3)}
  50%{opacity:1;-webkit-transform:scale(1.05);-ms-transform:scale(1.05);transform:scale(1.05)}
  70%{-webkit-transform:scale(.9);-ms-transform:scale(.9);transform:scale(.9)}
  100%{opacity:1;-webkit-transform:scale(1);-ms-transform:scale(1);transform:scale(1)}
}
//
@keyframes twinkling{
from{
  opacity:0;
}
100%{
  opacity:1;
}
}
@-webkit-keyframes twinkling{
  from{
    opacity:0;
  }
  100%{
    opacity:1;
  }
}


@keyframes arrow{
  0%{bottom:10px;}
  50%{bottom:20px;}
  100%{bottom:10px;}
}
@-webkit-keyframes arrow{
  0%{bottom:10px;}
  50%{bottom:20px;}
  100%{bottom:10px;}
}
@keyframes ym_run {
  0% {background-position: 0 0;}
  25% {background-position: -84px 0;}
  50% {background-position: -168px 0;}
  75% {background-position: -252px 0;}
  100% {background-position: 0 0;}
}
@-webkit-keyframes ym_run {
  0% {background-position: 0 0;}
  25% {background-position: -84px 0;}
  50% {background-position: -168px 0;}
  75% {background-position: -252px 0;}
  100% {background-position: 0 0;}
}





//@keyframes walking{
//  from{
//    left:53px;top:132px;
//  }
//  25%{
//    left:56px;top:162px;
//  }
//  100%{
//    left:152px;top:245px;
//  }
//}
//@-webkit-keyframes walking{
//  from{
//    left:53px;top:132px;
//  }
//  25%{
//    left:56px;top:162px;
//  }
//  100%{
//    left:152px;top:245px;
//  }
//}
//@keyframes walking01{
//  from{
//    left:152px;top:245px;
//  }
//  25%{
//    left:172px;top:265px;
//  }
//  50%{
//    left:185px;top:285px;
//  }
//  100%{
//    left:162px;top:340px;
//  }
//}
//@keyframes walking02{
//  from{
//    left:162px;top:340px;
//  }
//  100%{
//    left:60px;top:450px;
//  }
//}
//@keyframes walking03{
//  from{
//    left:60px;top:450px;
//  }
//  100%{
//    left:80px;top:500px;
//  }
//}
